
	<div class="video-right">
		<div id="video-one" class="group wrapper shown">
			<object height="360" width="480"><param name="movie" value="http://www.youtube.com/v/4eh2Ahzq4G4"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/4eh2Ahzq4G4" type="application/x-shockwave-flash" width="480" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
		</div>
		<div id="video-two" class="hide group wrapper">
			<object width="480" height="360"><param name="movie" value="http://www.youtube.com/v/B7iwv9zbhOQ"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/B7iwv9zbhOQ" type="application/x-shockwave-flash" width="480" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
		</div>
		<div id="video-three" class="hide group wrapper">
			<object width="480" height="360"><param name="movie" value="http://www.youtube.com/v/VEgWYPYmXys"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/VEgWYPYmXys" type="application/x-shockwave-flash" width="480" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
		</div>
	</div>
	<div id="video-nav">
		<ul>
	    <li id="vone" class="hover"><span>Swing Dancing Dogs</span></li>
	    <li id="vtwo" class="hover"><span>Alligator Impression</span></li>
	    <li id="vthree" class="hover"><span>Eleven Dog Tricks</span></li>
	  </ul>
	</div>
