<div class="video-title group wrapper"> 
	<%= image_tag image_aws("video-small.png") %><h1>VIDEOS</h1>
</div>
<div class="video-link">
  <ul>
    <li>
    	<a href="http://youtu.be/4eh2Ahzq4G4" target="_blank" class="image hover">
    		<span>Swing Dancing Dogs</span>
    	</a>
    </li>
    <li>
    	<a href="http://youtu.be/B7iwv9zbhOQ" target="_blank" class="image hover">
    		<span>Alligator Impression</span>
    	</a>
    </li>
    <li>
    	<a href="http://youtu.be/VEgWYPYmXys" target="_blank" class="image hover">
    		<span>Eleven Dog Tricks</span>
    	</a>
  	</li>
	</ul>
</div>