<!DOCTYPE html>
<html>
	<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	</head>
	<body>
	<h1> Message from Super Dog Website</h1>
	<p> Name: <%= @contact.name %></p>
	<p> Email: <%= @contact.email %></p>
	<p> Comment: <%= @contact.comment %> </p>
	
	</body>
</html>