html {
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  background: #f3f4f6 url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/sand.png") repeat 0 0;
  /* Part of Advanced Checkbox Hack for navigation */
	-webkit-animation: bugfix infinite 1s; 
	@-webkit-keyframes bugfix {
		    from {padding: 0;} 
		    to {padding: 0;} 
		}
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


h1,h2,h3,h4,h5,h6 {
	    font-weight: 100;
	    }
		
h1 {
	font-size: 3.189em;
	line-height: 1.223;
		}
	
h2  {
	font-size: 2.126em;
	line-height: 1.223;
		    }
			
h1, h2 {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
			 }
			 
h3 {
	font-size: 1.382em; 
	line-height: 1.223;
		}
		    
h4 {
	font-size: 1em;
	line-height: 1.56;
	text-transform: uppercase;
		}
		
h3,h4 {      
	font-weight: 300;
	text-transform: uppercase;
		}
		
h5 {
	font-size: .8125em;
	line-height: 1.125;
		}

h5,h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .85em;
	line-height: 1.53;
	font-weight: 500;
		}
h6 {
	color: #aaa;
	font-weight: 200;
		}

.wrapper {
	        padding: 0 .65em;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        box-sizing: border-box;
		}

// Nav Bar Style

#container-nav {
	background:#fff;
	opacity:0.8;
}

#nav,
#masthead,
#content,
#colophon {
    margin: 0 3.3%;
    }
#nav {
	padding: .65em 0;
	h3 {
		float: left;
		text-transform: capitalize;
	}
	ul {
		list-style: none;
		padding:0;
		border-bottom: 1px solid #eee;
		margin: .65em 0 .39em;
	}
	li {
		border-top: 1px solid #eee;
	}
	a {
		display:block;
		font-size: 1.063em;
		color: #333;
		text-decoration: none;
		padding: 0.975em 1.3em;
		&:hover, &:focus, &.hover_effect {
			background: #333;
			color:#fff;
		}
	}
	nav {
		height:0;
		overflow: hidden;
	}
	input[type=checkbox] {
		position: absolute;
		top: -999em;
	}
	label {
		display:block;
		padding: .2em 0.2em;
		background: url('bone-menu.png') no-repeat right center;
		text-indent: -999em;
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
	}
	input[type=checkbox]:checked ~ nav {
		height: auto;
		overflow: hidden;
	}
}

// HEADER STYLES
#masthead {
	color:#fff;
	width:80%;
}
#nav,
#masthead,
#content,
#colophon {
   margin: 0 3.3%;
   padding:0;
 }
 /* VIDEO SECTION STYLE */
 #videos {
	padding-top: .65em;
	padding-bottom:4.55em;
	margin-bottom: 1.95em;
	background: #333;
	.video-title {
		margin-bottom:0;
		border-bottom: 1px solid #fff;

		img {
			display: inline-block;
			float:left;
			margin-bottom: 0em;
			margin-left:10%;
		}
		h1 { 
			display:inline-block;
			float: left;
			padding-bottom:0.39em;
			margin:.65em 0em 0em 0.39em;
			color: #eee;
		}
	}
	.video-link {
		li {
			width:100%;
			border-bottom: 1px solid #eee;
		}
		a.image {
			display:block;
			height: 117px;
			width: 100%;
			font-size: 0.95em;
			text-align: center;
			color: #fff;
			background: url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/videoclapup.png") no-repeat center;
			text-decoration: none;
			span {
				display: block;
				width: 75px;
				margin: 0 auto;
				padding-top: 53px;
			}

		}
		a.image:hover, a.image.hover_effect {
			background: url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/closedclap.png") no-repeat center;
			color:#ddd;
			cursor: default;
		}
	}
	.video-show {
		display:none;
	}

}

#toplink {
	position:fixed;
	left: 90%;
	bottom:0px;
	height:2.3em;
	width:100%;
	a {
		color: #eee;
		text-decoration: none;
		&:hover {
			color:#b74080;
		}
	}
	a.hover_effect {
		color:#b74080;
	}
}

 /* ******************************************
	   Form Styles Basic Layout
****************************************** */
#container-footer {
	padding: 1.3em 1.3em;
	background:#352a38;
	color:#eee;
	font-weight:100;
}

form {
	padding: 0 0 1.3em;
	ul {
		list-style: none;
		padding: 1.3em 0 0;
	}
	li {
		padding: 0 0 .65em;
	}
	legend {
		font-size: 1.382em;
		line-height: 1.223;
	}
	label {
		display: block;
		font-size: 1em;
		line-height: 1.56;
		padding: 0 0 .325em;
	}
	legend, label {
		font-weight: 300;
		text-transform:uppercase;
		color:#fff;
	}
	input, textarea {
	  display: block;
	  width: 100%;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1em;
		line-height: 1.3;
		font-weight: 500;
	  padding: .65em;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	textarea {
	    padding-bottom: 10%;
	    overflow: auto; /* 1 */
	    vertical-align: top; /* 2 */
	}
	.send {
	    display: inline-block;
	    max-width: 30em;
	    font-size: 1em;
	    line-height: 1;
	    font-weight: 500;
	    color: #fff;
	    text-decoration: none;
	    background: #0074b0;
	    margin: .65em .26em;
	    padding: .975em;
	    border: 0;
	    border-radius: 1.3em;
	    text-shadow: 0 -1px 1px rgba(0, 0, 0, .65);
	    }
    
	.send:hover, .send.hover_effect {
	    background: #b74080;
	    }
    
	.send:active,
	.send:focus {
	    background: #555;
	    }
}
/* STYLE FOR HEADSHOT SECTION*/

#photos {
	overflow:hidden;
	margin: 0.65em 0.325em;
	h1 {
		color:#fff;
		text-shadow: black 0.1em 0.1em 0.2em;
		padding:0em;
		margin-left:0.325em;
	}
	h2 {
		color:#fff;
		padding:0em;
		padding-bottom:0.325em;
		text-shadow: black 0.1em 0.1em 0.2em;
		margin-left:0.625em;
	}

	ul {
		width:100%;
		padding: 0;
		margin: 0;
	}
	li {
		width: 45%;
		display:inline-block;
		text-align: center;
		list-style: none;
		float: left;
		margin-bottom:0.65em;
		margin-left: 4%;
		img {
			display:inline-block;
			max-width:100%;
			float:left;
			border: 4px solid #eee;

		}
	}
	#happy-photo, #product-photo, #drama-photo, #action-photo, #comedy-photo {
		margin-bottom:1.3em;
		padding-bottom:1.3em;
	}
}
/* Photo Credits */ 
#happy-photo, #product-photo, #drama-photo, #action-photo, #comedy-photo {
	.insert {
		display:block;
		overflow:hidden;
		width:44%;
		text-align: center;
		color: #fff;
		position:absolute;
		margin-top:3.9em;
		padding-top:.95em;
		padding-bottom:0.65em;
		font-size:0.95em;
    opacity:0;
    transition: all 0.4s ease;
    &:hover {
    	opacity:0.7;
    	background:#0074b0;
    }
		p {
			margin-bottom: 0.325em;
			font-size:0.95em;
		}
		a {
			font-size:0.95em;
			color:#fff;
			white-space:pre;
			background: #005aa0;
			text-decoration:none;
			border:1px solid #fff;
			border-radius: 7px;
			padding: 0.325em;
		}
	}
}
/* Photo Navigation */
#photo-nav {
	width: 100%;
	padding:0;
	margin:0;
	ul {
		display:block;
		width:100%;
		margin-left: 1.95em;
		float:left;
		li {
			margin:0 auto;
			text-indent: 100%;
			width:18%;
			display:inline-block;
			float:left;
			padding:0;
			overflow:hidden;
			img{
				background:#333;
				margin:0 auto;
				max-width:90%;
				border:1px solid #fff;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border-radius: 7px;
			}
			img:hover, img.hover_effect {
				background:#0074b0;
			}
		}
	}
}

.hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;        
}
/* ******************************************
			Media Queries for screen less than 300px
****************************************** */
@media screen and (max-width: 320px) {
		#happy-photo, #product-photo, #drama-photo, #action-photo, #comedy-photo {
			.insert {
				font-size:0.87em;
				a {
					font-size:0.87em;
				}
			}
		}
}

/* ******************************************
			Media Queries for screen less than 30em (720px)
****************************************** */
	@media screen and (max-width: 30em) {
		#container-header {
			background: #352a38 url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/headsmall.jpg") no-repeat top center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			.mhtitle {
				width:100%;
				height: 30em;
				padding:18em 0 0 0;
				font-size:80%;
			}
		}
	}	
/* ******************************************
	Media Queries for screen wider than 30em (480px) for image
****************************************** */
@media screen and (min-width: 30em) {
	#container-header {
		background: #352a38 url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/headmd.jpg") no-repeat top center;
		padding:0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		.mhtitle {
			width:100%;
			height:30em;
			padding: 15em 0 0 0;
		}
	}
	#videos {
		padding-bottom:3.9em;
		margin-bottom:1.3em;
		.video-show {
			display:block;
			margin:.39em 0;
			padding:0.625em 1.3em;
			width:100%;
		}
		#video-nav {
			color:#fff;
			ul, li, a {
				display:block;
				float:left;
			}
			ul  {
				margin-top:0em;
				width:90%;
				padding-left:0.325em;
			}
			li {
				width: 30%;
				background: url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/videoclapup.png") no-repeat center;
				height:117px;
				font-size: 0.95em;
				text-align: center;
				color: #fff;
				span {
					display: block;
					width: 75px;
					margin: 0 auto;
					padding-top: 53px;
				}
				&:hover, &.hover_effect {
					background: url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/closedclap.png") no-repeat center;
				}
			}
		}
		.hide {
			display: none;
		}
		h1 {
			padding-top:0;
			padding-bottom:0;
		}
		ul {
			display:none;
		}
		.video-title {
			h1 {
				margin-left: 10%;
				margin-top: 0.65em;
			}
		}
	}
	#photos {
		overflow:hidden;
		margin: 0.65em 0.325em;
		h1 {
			color:#fff;
		}
		h2 {
			padding-bottom:0.325em;
			margin-left:0.65em;
			color:#fff;
		}

		ul {
			width:100%;
			padding: 0;
			margin: 0;
		}
		li {
			width: 30%;
			display:inline-block;
			text-align: center;
			list-style: none;
			float: left;
			margin-bottom:0.65em;
			margin-left: 3%;
			img {
				display:inline-block;
				max-width:100%;
				float:left;
				border: 4px solid #fff;

			}
		}
	}

	#happy-photo, #product-photo, #drama-photo, #action-photo, #comedy-photo {
		.insert {
			width:30%;
			margin-top: 7.5em;
		}
	}
	#photo-nav {
		width: 100%;
		padding:0;
		margin:0;
		ul {
			display:block;
			width:100%;
			margin-left: 1.95em;
			float:left;
			li {
				margin:0 auto;
				text-indent: 100%;
				width:18%;
				display:inline-block;
				float:left;
				padding:0;
				overflow:hidden;
				img{
					background:#333;
					margin:0 auto;
					max-width:90%;
					border:1px solid #fff;
					-webkit-border-radius: 7px;
					-moz-border-radius: 7px;
					border-radius: 7px;
				}
				img:hover, img.hover_effect {
					background:#0074b0;
				}
			}
		}
	}
}
/* ******************************************
	Media Queries for screen wider than 45em (720px)
****************************************** */

@media screen and (min-width: 45em) {
  body {
  	font-size: 107.692307692308%;
  }
  #nav,
	#masthead,
	#content,
	#colophon {
	    margin: 0 5.5%;
	    }
	#nav {
		padding:0;
		label {
			display:none;
		}
		h3 {
			margin: .39em 1.3em 0 0;
		}
		nav {
			height:auto;
		}
		ul {
			border:0;
			margin:0;
		}
		li {
			display: inline;
			border: 0;
		}
		a {
			display: inline-block;
		}
	}
	.name, .email {
		float:left;
		width: 50%;
		-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
	.name {
		padding-right:.65em;
	}
	.email {
		padding-left:.65em;
	}
	.send {
		width: 48.6%;
	}
	#videos #video-nav li {
		width:100%;
	}
	.video-right {
		display:block;
		float:left;
		margin:1.3em 0em;
		padding:0.625em 5%;
		width:65%;
		#video-one, #video-two, #video-three {
			width:100%;
		}
	}
	#video-nav{
		display: block;
		float:right;
		margin:0em;
		margin-top:1.3em;
		padding:0em;
		width: 25%;
		ul {
			margin-top:0.98em;
		}
		li {
			display:block;
			margin-bottom: 0.325em;
			float:left;
			width:100%;
		}
	}
	#photos {
		h2 {
			margin-left: 0.65em;
		}
		#photo-top {
			display:block;
			width:100%;
			#title-headshots {
				display:inline-block;
				float:left;
				width: 30%;
			}
			#photo-nav {
				display:inline-block;
				float: right;
				width: 60%;
			}
		}
	}

}

/* ******************************************
	Media Queries for screen wider than 54em (864px)
****************************************** */
@media screen and(min-width: 54em) {
	#videos {
		.video-right {
			width:45%;
		}
		#video-nav{
			width:45%;
		}
	}
	#photos {
		overflow:hidden;
		margin: 0.65em 0.65em;
		h1 {
			color:#fff;
		}
		h2 {
			color:#fff;
			margin-left: 0.65em;
			padding-bottom:0.325em;
		}

		ul {
			width:100%;
			padding: 0;
			margin: 0;
		}
		li {
			width: 23%;
			display:inline-block;
			text-align: center;
			list-style: none;
			float: left;
			margin-bottom:0.65em;
			padding-top: 0.325em;
			margin-left: 2%;
			img {
				display:inline-block;
				max-width:100%;
				float:left;
				border: 4px solid #eee;

			}
		}
	}
	#happy-photo, #product-photo, #drama-photo, #action-photo, #comedy-photo {
		.insert {
			width:23%;
			margin-top: 10.5em;
			font-size: 1em;
			a {
				font-size: 1em;
			}
		}
	}
}

/* ******************************************
	Media Queries for screen wider than 60em (960px)
****************************************** */

@media screen and (min-width: 60em) {
	#container-header {
		background: #352a38 url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/headlrg.jpg") no-repeat top center;
		padding:0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		.mhtitle {
			height:35em;
			padding:0 0 0 50%;
			width:90%;
		}
	}
}
	
	/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */

.group:after {
    content: " "; 
    display: table;
    clear: both;
}
	/* Clearfix */

.group {
	    *zoom: 1;
	    }
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
		

/* Figures/Images */

		.ie #portfolio figure {
		    width: 100%;
		    box-sizing: border-box;
		    }

/* "*" hack applies only to IE7 and below */

		.ie #portfolio figure {
		    *width: auto;
		    }
   
		/* Navigation */

/* IE8 .checked class for checkbox.js */

		#nav input[type=checkbox].checked ~ nav {
		    height: auto;
		    overflow: visible;  
		}

/* Always show nav, IE7 and below */

		.ie #nav nav {
		    *height: auto;
		    *overflow: visible;  
		}

/* Hide navicon, IE7 and below */

		.ie #nav label { 
		    *background: none;
		    }
     
/* box-sizing polyfill, IE7 and below (The URL in .ie textarea is placeholder only. You will need to replace with path to your domain) */

		.ie .wrapper,
		.ie .name,
		.ie .email,
		.ie input,
		.ie textarea {
		    *behavior: url("https://s3-us-west-2.amazonaws.com/everycupcake/canineup/js/boxsizing.htc");
		}
#side-nav{
	display:block;
	position:fixed;
	z-index:1000;
	top:50%;
	left:10px;
	width:auto;
	padding:0;
	margin-top:-77px;
	background:#666;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	div{
		display:block;
		margin:0;
		padding:0;
		div.nav {
			margin:12px 0;
			a {
				display:block;
				position: relative;
				width:12px;
				height:12px;
				text-indent:100%;
				white-space:nowrap;
				overflow:hidden;
				-moz-border-radius:7px;
				border-radius:7px;
				background:#fff;
				opacity:.5;
				-webkit-transition:all linear .25s;
				-moz-transition:all linear .25s;
				-o-transition:all linear .25s;
				-ms-transition:all linear .25s;
				transition:all linear .25s;
				&:hover, &:focus, &.hover_effect {
					opacity:1;
				}
			}
		}
	}
}


