<div id="container-nav">
	<section id="nav" class="group wrapper">
		<h3>SUPER DOG</h3>
	      <!-- Checkbox Hack markup -->
	      <input type="checkbox" id="toggle" />
	      <label for="toggle" onclick>Menu</label>
	      <!-- /Checkbox Hack markup -->
	      <nav>
	          <ul>
	              <li><%= link_to "Videos", "/#videos", class:"hover" %></li>
	              <li><%= link_to "Photos", "/#photos", class:"hover" %></li>
	              <li><%= link_to "Contact", "/#contact", class:"hover" %></li>
	          </ul>
	      </nav>	
	</section>
</div>