<div id="container-nav">
	<section id="nav" class="group wrapper">
		<h3>SUPER DOG</h3>
	      <!-- Checkbox Hack markup -->
	      <input type="checkbox" id="toggle" />
	      <label for="toggle" onclick>Menu</label>
	      <!-- /Checkbox Hack markup -->
	      <nav>
	          <ul>
	              <li><a href="#videos">Videos</a></li>
	              <li><a href="#photos">Photos</a></li>
	              <li><a href="#tricks">Tricks</a></li> 
	              <li><a href="#new_contact">Contact</a></li>
	          </ul>
	      </nav>	
	</section>
</div>